.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  align-content: space-between;
}

.Parent {
  border: 1px solid black;
  align-content: center;
}

.Child {
  border: 1px solid black;
  height: 50px;
  margin: 5px;
  padding: 10px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
